<%- include('partials/header.ejs') %>
<div class="content content-preview">
  <div class="preview">
    <div class="view-cover">
      <img
        class="view-img"
        src="https://covers.openlibrary.org/b/isbn/<%=book.isbn%>-L.jpg"
        alt="Book CoverImage"
      />
      <span class="view-text">
        <div class="title" id="view-title"><%= book.title %></div>
        <div class="author" id="view-author">by <%=book.author%></div>
        <div class="isbn" id="view-isbn">ISBN: <%=book.isbn%></div>
        <div class="rank" id="view-rank">How strongly i recommend it: 5/<%=book.rating%></div>
        <div class="date" id="view-dat">Date read: <%= book.days%></div>
        <div class="note" id="view-note"><%=book.description %></div>
      </span>
      <button id="update-btn"><a href="/edit/<%= book.title %>">Update </a></button>
      <button id="delete-btn"><a href="/delete/<%= book.title %>">Delete </a></button>
    </div>
    <div class="btns">
      <a class="back" href="/"><button  id="submit">Back</button></a>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>